# created by virtualenv automatically
/.venv
/.idea
/config/settings/settings_secret_key.py
/config/settings/dev_databases_postgresql.py
.env
/config/settings/dev_databases.py
/log/general.log
/config/settings/test_databases.py
/config/settings/test_databases_postgresql.py
